<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group name="itemProvider" groupName="itemProvider">
        <pipelines>
          <getItem>
            <processor type="Sitecore.Pipelines.ItemProvider.GetItem.EnforceVersionPresence, Sitecore.Kernel">
              <patch:attribute name="type">Sitecore.Support.Pipelines.ItemProvider.GetItem.EnforceVersionPresence,Sitecore.Support.218878</patch:attribute>
            </processor>
          </getItem>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>